<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>
    <strong>本页面需要浏览器支持（启用）JavaScript！！！</strong>
</noscript>
<div id="app"></div>
<!-- Vite将自动解析下面的ts文件 -->
<scirpt type="module" src="/src/main.ts"></scirpt>
</body>
</html>
